@import url("zeroing.css");

/* ------------------------------------- */
/* КОМБІНАЦІЇ СЕЛЕКТОРІВ */

/* 
    Звертаємось до УСІХ тегів H1 на сторінці 
	АЛЕ лише тих які знаходяться в середені 
	будь-якого об'єкту з класом article 

    Звертаємось до УСІХ об'єктів з класом item на сторінці 
	АЛЕ лише тих які знаходяться в середені 
	будь-якого об'єкту з класом list 

    Усі об'єкти в середені 
	об'єктів з класом .text 
*/

/* 
	Усі теги P першого рівня (безпосередні) 
	в середені об'єктів з класом  lesson

    .lesson>p {}

    Усі теги P які знаходяться 
	далі по коду після об'єктів з класом lesson
	та мають той самий рівень вкладеності

    .lesson~p {} 

    Тег P який знаходяться беспосередньо 
	далі по коду після об'єктів з класом lesson
	та мають той самий рівень вкладеності
    
    .lesson+p {} 
*/

/* ------------------------- */
* {
	color: #4a4747;
}

a {
	color: #4597f7;
}

h1 {
	color: rgba(0, 255, 255, 0.875);
}

p {
	color: tan;
}

#reference {
	color: #8f801d;
}

[class*="ox"] h2 {
	color: rgb(207, 131, 144);
}

[class*="nf"] {
	color: rgb(218, 101, 198);
}

.info-extended p {
	color: goldenrod;
}

.info-extended span,
.article-title,
div ul li {
	color: rebeccapurple;
}

.kitchen a {
	color: brown;
}

div.history p {
	color: khaki;
}

div.history p~p {
	color: rgba(211, 101, 61, 0.714);
}

/* ------------------------- */
.task-from-yevhenii li {
	color: red;
}

.task-from-yevhenii li~li {
	color: green;
}

.task-from-yevhenii li ul>li {
	color: blue;
}

.task-from-yevhenii li ul li+li {
	color: orange;
}

.task-from-yevhenii li ol li {
	color: #4597f7;
}

.task-from-yevhenii li ol li~li {
	color: #5d5d5d;
}

.task-from-yevhenii li span {
	color: #a0f0fc;
}

.task-from-yevhenii ol li span {
	color: #5d5d5d;
}