@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap');

@font-face {
    font-family: 'Spectre Collector';
    src: url('../fonts/SpectreCollectorRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SofiaSans';
    src: url(../fonts/SofiaSans-Thin.woff2) format('woff2');

    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SofiaSans';
    src: url(../fonts/SofiaSans-ThinItalic.woff2) format('woff2');

    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SofiaSans';
    src: url(../fonts/SofiaSans-Regular.woff2) format('woff2');

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SofiaSans';
    src: url(../fonts/SofiaSans-Black.woff2) format('woff2');

    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SofiaSans';
    src: url(../fonts/SofiaSans-BlackItalic.woff2) format('woff2');

    font-weight: 900;
    font-style: italic;
    font-display: swap;
}